<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Gestión de Productos S.A.</title>
    <script>
        function irRegistro() {
            window.location.href = 'registro/';
        }
    </script>
</head>
<body>
    <header>
        <nav>
            <a href="http://127.0.0.1:8000/admin/">Administracion</a>
            <a href="{% url 'logout' %}">Cerrar sesión</a>
        </nav>
        <h1>Gestión de Productos S.A.</h1>
    </header>
    <div class="lista">
        <h3>Lista de productos</h3>
        <h4>Bienvenido {{ request.session.username }}</h2>
        <p>Tu fecha de conexión: {{ request.session.login_time }}</p>
        <p>¿Permisos sobre productos?: 
            {% if user.is_admin %}
                Si
            {% else %}
                No
            {% endif %}
        </p>
        <table>
            <tr style="background-color: blanchedalmond;">
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Marca</th>
                <th>Categoria</th>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
            {% for product in products %}
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.category }}</td>
                <td>
                    <button onclick="editarProducto({{ product.code }})">Editar</button>
                    <button onclick="eliminarProducto({{ product.code }})">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        <script>
            const token = "{{ token }}";
            async function eliminarProducto(code) {
                const url = `/productos/api/productos/${code}`;
            
                try {
                    const response = await fetch(url, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'Authorization': `Bearer ${token}`
                        }
                    });
            
                    if (response.ok) {
                        alert('Producto eliminado exitosamente');
                        window.location.reload();
                    } else {
                        const data = await response.json();
                        alert(`Error: ${data.detail || 'No se pudo eliminar el producto'}`);
                    }
                } catch (error) {
                    console.error('Error al eliminar el producto:', error);
                    alert('Error inesperado al eliminar el producto');
                }
            }

            function editarProducto(code) {
                window.location.href = `/productos/editar/${code}/`;
            }

        </script>
    </div>
    <button onclick="irRegistro()">Registrar producto</button>
</body>
</html>